<script>
    function AddKeyWord()
    {
        var precise = "";
        if($("#precise_input").is(":checked"))
        {
            precise = "true";
        }
        else
        {
            precise = "false";
        }
        $.post("/api/add/keyword",{key:$("#keyword_input").val(),text:$("#text_input").val(),precise:precise},function(){
            location.reload();
        });
        layui.layer.closeAll();
    }
    function CreateKeyWord()
    {
        layer.open({
            type: 1,
            title: '创建关键词',
            shadeClose: true,
            content: '<div class="layui-form">    <div class="layui-form-item">        <label class="layui-form-label">关键词：</label>        <div class="layui-input-block">            <input id="keyword_input" class="layui-input" placeholder="请输入关键词" />        </div>    </div>    <div class="layui-form-item">        <label class="layui-form-label">回复：</label>        <div class="layui-input-block">            <input id="text_input" class="layui-input" placeholder="请输入回复" />        </div>    </div>    <div class="layui-form-item">        <label class="layui-form-label">精准识别：</label>        <div class="layui-input-block">          <input id="precise_input" type="checkbox" lay-skin="switch" title="ON|OFF">        </div>    </div>    <div class="layui-form-item">        <label class="layui-form-label"> </label>        <div class="layui-input-block">            <button class="layui-btn" onclick="AddKeyWord()">创建</button>        </div>    </div></div>'
        });
        layui.form.render();
    }
    function DeleteKeyWord(keytext)
    {
        $.post("/api/delete/keyword",{key:keytext},function(){
            location.reload();
        });
    }
</script>
<button class="layui-btn" onclick="CreateKeyWord()">创建</button>
<br>
<table class="layui-table">
    <thead>
        <tr>
            <th>关键词</th>
            <th>回复内容</th>
            <th>精确</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{range .Keys}}
        <tr>
            <td>{{.Key}}</td>
            <td>{{.Text}}</td>
            <td>
                {{if eq .Precise "false"}}
                <span class="layui-badge">关</span>
                {{else}}
                <span class="layui-badge layui-bg-green">开</span>
                {{end}}
            </td>
            <td>
                <button class="layui-btn layui-btn-danger" onclick="DeleteKeyWord('{{.Key}}')">删除</button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>